<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/shared.css">
    <link rel="stylesheet" href="../../styles/pages/home.css">
    <title>Home</title>
</head>
<body>
    <!-- MODAIS -->
    <div class="modais">
        <div id="modalSair" class="modal">
            <div class="modal-content">
                <h4>Sair do sistema</h4>
                <p>Deseja realmente sair?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" id="BotaoSair" class="modal-close waves-effect waves-green btn-flat">Sim</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            </div>
        </div> 
    </div>

    <nav>
        <div class="nav-wrapper">
            <img class="imagem" src="../../assets/logo/logo.png">
            <h5 class="center-align">Sistema de Vendas</h5>
            <a class="myButton3" href="#modalSair">Sair</a>
        </div>
        <nav class="navbar2">
            <a class="navbar-brand" href="#">MENU ITEM</a>
            <a class="navbar-brand" href="#">MENU ITEM</a>
            <a class="navbar-brand" href="#">MENU ITEM</a>
        </nav>
    

    <div class="main">
        <div class="container">
        <div class="break">
        
        <div class="all-cards"></div>
        <div style="display: none;" class="table-page">
            <tr>
                <th>Marca</th>
                <th>Veiculo</th>
                <th>Preco</th>
                <th>Ano Fabricacao</th>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </div>
    </div>
</div>
</div>

        <footer class="page-footer">
            <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4"></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/">https://www.instagram.com/</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/">https://www.facebook.com/</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.tiktok.com/pt-BR/">https://www.tiktok.com/pt-BR/</a></li>
                </ul>
                </div>
            </div>
            </div>
            <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
            </div>
        </footer>
</body>
<script src="../../scripts/shared.js"></script>
<script src="../../scripts/pages/home.js"></script>


</html>