<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/shared.css">
    <link rel="stylesheet" href="../../styles/pages/home.css">
    <title>Home</title>
</head>
<body>
    <!-- MODAIS -->
    <div class="modais">
        <div id="tabela1" class="modal">
            <div class="modal-content">
                <h4>Produtos X</h4>
                <p>TABELA DE PRODUTOS X</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div> 
        <div id="modalSair" class="modal">
            <div class="modal-content">
                <h4>Sair do sistema</h4>
                <p>Deseja realmente sair?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" id="BotaoSair" class="modal-close waves-effect waves-green btn-flat">Sim</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            </div>
        </div> 
    </div>



    <nav>
        <div class="nav-wrapper">
            <img class="imagem" src="../../assets/logo/logo.png">
            <h5 class="center-align">Sistma de Vendas</h5>
            <a class="myButton3 modal-trigger" href="#modalSair">Sair</a>
        </div>
    </nav>

    <div class="main">
        <a class="waves-effect waves-light btn modal-trigger" href="#tabela1">Modal</a>
        
    </div>

        <footer class="page-footer">
            <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4"></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">https://www.instagram.com/</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">https://www.facebook.com/</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">https://www.tiktok.com/pt-BR/</a></li>
                </ul>
                </div>
            </div>
            </div>
            <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
            </div>
        </footer>
</body>
<script src="../../scripts/shared.js"></script>
<script src="../../scripts/pages/home.js"></script>


</html>