<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../styles/shared.css">
    <link rel="stylesheet" href="../../styles/pages/home.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo"></a>
        <div>
            <h5 class="center-align">Sistma de Vendas</h5>
        </div>
        <a id="BotaoSair" href="#" class="myButton3">SAIR</a>
</body>
<script src="../../scripts/shared.js"></script>
<script src="../../scripts/pages/home.js"></script>


</html>