.nav-wrapper {
    position: fixed;
	display: flex;
	justify-content: space-between;
}

.myButton3 {
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
	line-height: 43px;
}
.myButton3:hover {
	background-color:#b34332;
}
.myButton3:active {
	position:relative;
	top:1px;
}

.imagem {
	width: 70px;
	padding: 0;
}

.main {
	height: 70vh;
	background-color: rgb(240, 240, 240);
}

#modalSair {
	width: 500px !important;
}

nav {
    color: #fff;
    background-color: rgb(0 0 0 / 87%);
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.myButton3 {
    box-shadow: inset 0px 34px 0px -15px rgb(0 0 0 / 87%);
    background-color: rgb(0 0 0 / 87%);
    border: 1px solid #241d13;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #7a2a1d;
    line-height: 43px;
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #26a69a;
}

.table-title {
	margin: 20px !important;
	text-align: center;
	width: 100%;
}

.modal-header {
	display: flex;
}

.main {
    height: 70vh;
    background-color: rgb(240, 240, 240);
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
    vertical-align: middle;
	padding: 0%;
	
}