@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

input {
    width: 200px !important;
}

body {
    height: 100vh;
}

.p-10 {
    padding: 10px !important;
}

#toast-container {
    background-color: transparent !important;
}

.toast-danger {
    background-color: red;
    color: black;
}
.toast-warning {
    background-color: orange;
}
.toast-success {
    background-color: green;
}
