@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* input {
    width: 200px !important;
} */

body {
    height: 100vh;
}

.p-10 {
    padding: 10px !important;
}

#toast-container {
    background-color: transparent !important;
}

.toast-danger {
    background-color: red;
    color: black;
}
.toast-warning {
    background-color: orange;
}
.toast-success {
    background-color: green;
}

.toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 2.5em;
    background-color: #fafafa;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(0 0 0 / 87%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default;
}
